{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
      "browser": true,
      "node": true,
  },
  "rules": {
    "indent": [1, 2],
    "max-len": [1, 150],
    "no-var": 0,
    "prefer-template": 0,
    "comma-dangle": 2,
    "import/prefer-default-export": 1,
    "space-infix-ops": 0,
    "object-shorthand": 0,
    "spaced-comment": 0,
    "vars-on-top": 0,
    "arrow-spacing": 0,
    "no-case-declarations": 0,
    "func-names": 0,
    "skipBlankLines": 0,
    "react/sort-comp": 0,
    "react/jsx-indent": [1, 2],
    "react/jsx-indent-props": [1, 2],
    "react/jsx-filename-extension": 0,
    "react/no-string-refs": 0,
    "react/no-find-dom-node": 0,
    "react/forbid-prop-types": 0,
    "jsx-a11y/href-no-hash": 0,
  },
  "globals": {
    "_": true,
    "sails": true,
    "ContactPerson": true,
    "Customer": true,
    "Insourcing": true,
    "Maintenance": true,
    "Order": true,
    "Organization": true,
    "Project": true,
    "ProjectStatus": true,
    "Settings": true,
    "User": true,
  },
}
