{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
      "browser": true,
      "node": true,
  },
  "rules": {
    "max-len": [2, 120],
  },
  "globals": {
    "_": true,
    "sails": true,
    "TodoList": true,
    "TodoItem": true,
    "User": true,
    "EmailService": true,
    "UserService": true,
    "TokenService": true,
  },
}
