REAKTIKAMA
  <!-- REACT -->
  <div id="app"><%- reactHtml %></div>
  <script type="text/javascript"><%-typeof session == 'undefined' ? '' : 'window.session='+session%></script>
  <script type="text/javascript" src="/jsx/app.js"></script>
  <!-- REACT END -->
