@font-face {
  font-family: 'Lato';
  font-weight: normal;
  font-style: normal;
  src:
    url('../fonts/LatoLatin-Regular.woff2') format('woff2'),
    url('../fonts/LatoLatin-Regular.woff') format('woff'),
    url('../fonts/LatoLatin-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 600;
  font-style: normal;
  src:
    url('../fonts/LatoLatin-Bold.woff2') format('woff2'),
    url('../fonts/LatoLatin-Bold.woff') format('woff'),
    url('../fonts/LatoLatin-Bold.ttf') format('truetype');
}
