.todo-wrapper {
  .todo-list-item {

    outline: none;
    user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: relative;
    padding: 5px $default-margin;
    display: flex;
    align-items: center;
    transition: background 150ms linear;
    border: none;
    margin-bottom: 1px;
    
    &:hover {
      background: darken($white, 2%);
    }

    > div {

      flex: 1;
      flex-direction: column;
      display: flex;

      > span {
        //main title
        &.title {
          font-weight: 600;
          font-size: $med-font-size;
        }
        // subtitle
        &:not(.title) {

          color: $grey-font-color;
          font-size: $small-font-size;
          margin-top: 2px;

          > span:last-of-type {
            margin-left: 10px;
          }

        }
      }

    }

    // Da removah buttonah
    .glyphicon:not(.time) {
      @include roundButton($red, $white);
    }
  }
}
