.todo-main-container {
  .list-group {
    
    border: 1px solid $grey-border;
    border-top: none;
    border-radius: 0 0 4px 4px;
    
    > button {
      &:first-of-type {
        border-radius: 0;
      }
      border-bottom: 1px solid $grey-border;
      &:last-of-type {
        border-bottom:none;
      }
    }

  }
  .todo-button.list-header {
    box-shadow: none;
    border-radius: 4px 4px 0 0;
  }
}
