.todo-login-container {
  .container {

    h1 {
      text-align: center;
    }
    
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 400px;

    .todo-login-box {
      button {
        width:100%;
      }
    }
    
    input {
      text-align:center;
    }
  }
}