
$red: #ed4747;
$dark-red: #333;
$darker-red: #b31414;
$white: #fff;
$grey-bg: #f7f7f7;
$grey-font-color: #999;
$grey-border: #ddd;
$header-orange: #f45c43;
$med-font-size: 1.3em;
$small-font-size: 0.75em;
$large-font-size: 1.5em;
$default-margin: 15px;
$gradient: linear-gradient(90deg, $red 10%, $header-orange 100%);

@mixin roundButton($bg: $red, $color: $white, $small: false) {

  color: $color;
  background: $bg;
  height: 50px;
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 150ms linear;

  @if ($small == true) {
    height: 40px;
    width: 40px;
  }

  &:hover, &:active, &:focus {
    color: $white;
    background: $darker-red;
    box-shadow: none;
  }

}

a.todo-button, .todo-button {

  @mixin hoverColors() {
    &:hover, &:active, &:focus, &:active:hover {
      color: $white;
      outline: none;
      background: $darker-red;
      .glyphicon {
        background: darken($darker-red, 5%);
      }
    }
  }

  box-shadow: 0 3px 0 0 $darker-red;
  align-content: center;
  display: flex;
  background: $red;
  border: none;
  color: $white;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: 600;
  min-width: 150px;
  transition: all 150ms linear;

  .glyphicon {
    margin-right: 5px;
    display: flex;
    background: $darker-red;
    height: 30px;
    width: 30px;
    transition: all 150ms linear;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: 0;
  }

  @include hoverColors();
  &[disabled] {
    @include hoverColors();
    box-shadow: 0 3px 0 0 $darker-red;
  }

}


body {

  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  a {
    color:$red;
  }




  input[type=text],
  input[type=password],
  input[type=email] {
    &.form-control {
      border: none;
      box-shadow: none;
      border-bottom: 1px solid $red;
      border-radius: 0;
      padding: 0;
      font-size: $med-font-size;
      height: calc(3 * #{$default-margin});
    }
  }

  label {
    font-size: $small-font-size;
  }

  h1 {
    font-size: 28px;
  }
  h1, h2, h3, h4, h5 {
    margin-bottom: 20px;
  }


  .todo-main-content {
    margin-top:24px;
  }
}