.todo-wrapper {

  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  .todo-header-bar {

    .todo-header-bar-user-icon  {
      @include roundButton($darker-red, $white);
    }

    .dropdown {
      // Menu on the right
      .dropdown-menu {

        margin-top: 12px;
        border-radius: 0 0 4px 4px;
        min-width: 250px;

        li {
          a {
            font-size: $med-font-size;
            padding: $default-margin;

            .glyphicon {
              margin-right: 5px;
            }
          }
        }
      }

      .todo-header-bar-menu-button {
        @include roundButton($white, $red);
        .todo-header-bar-user-icon {
          font-size: 25px;
        }
      }
    }

    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.07);
    background: $header-gradient;
    height: calc(5 * #{$default-margin});
    align-items: center;
    padding: 0 $default-margin;
    display: flex;

    img {
      height: 50px;
    }

    > div {
      // Logo
      &:first-of-type {
        flex: 1;
      }
      // Profile button container
      &:last-of-type {

      }

    }

    a {
      &:hover {
        text-decoration: none;
      }
    }

  }

  .todo-main-content {
    padding: $default-margin 0;
  }
}
