.todo-wrapper {
  input[type=text],
  input[type=password],
  input[type=email] {

    &.form-control {
      border: none;
      box-shadow: none;
      border-bottom: 1px solid $red;
      border-radius: 0;
      padding: 0;
      font-size: $med-font-size;
      height: calc(3 * #{$default-margin});
    }
  }

  label {
    font-size: $small-font-size;
  }

  h1 {
    font-size: 28px;
  }
  h1, h2, h3, h4, h5 {
    margin-bottom: 20px;
  }
}
