.todo-wrapper {
  .todo-list-item {

    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;

    > div {

      flex: 1;
      flex-direction: column;
      display: flex;

      > span {
        //main title
        &:first-of-type {
          font-weight: 600;
          font-size: $med-font-size;
        }
        // subtitle
        &:last-of-type {
          color: $grey-font-color;
          font-size: $small-font-size;
        }
      }

    }

    // Da removah buttonah
    .glyphicon {
      @include roundButton($red, $white);
    }
  }
}
