$med-font-size: 1.2em;
$small-font-size: 0.95em;
$large-font-size: 1.5em;

@mixin roundButton($bg: red, $color: white) {

  color: $color;
  background: $bg;
  height: 50px;
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 150ms linear;

  &:hover, &:active {
    color: $white;
    background: $dark-red;

  }

}

.todo-button {

  @mixin hoverColors() {
    &:hover, &:active, &:focus {
      color: $white;
      outline: none;
      background: $dark-red;
      .glyphicon {
        background: darken($dark-red, 5%);
      }
    }
  }

  align-content: center;
  display: flex;
  background: $red;
  border: none;
  color: $white;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: 600;
  min-width: 150px;
  transition: all 150ms linear;
  margin-right: 5px;

  .glyphicon {
    margin-right: 5px;
    display: flex;
    background: $dark-red;
    height: 30px;
    width: 30px;
    transition: all 150ms linear;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: 0;
  }

  @include hoverColors();
  &[disabled] {
    @include hoverColors();
  }

}
