.todo-list-item {

  position: relative;
  padding: 0 15px;

  span {
    padding: 10px 0;
    display: block;
  }

  .todo-list-item-remove-item {
    position: absolute;
    right: 5px;
    top: 50%;
    display: block;
    border: 1px solid #ddd;
    padding: 8px;
    margin-top: -16px;
    border-radius: 18px;
    cursor: pointer;
  }

}
