.todo-wrapper {
  .todo-header-bar {

    background: $red;
    border-bottom: 1px solid $dark-red;
    height: 50px;
    display: flex;
    align-items: center;

    .row {
      display: flex;
      align-items: center;
    }

    img {
      max-width: 90px;
    }

    a {
      color: $white;
      font-size: $large-font-size;
      margin-right: 15px;
    }

    .todo-header-nav-items {
      display: flex;
      align-items: center;
      margin-left: 15px;
    }

  }
  .todo-main-content {
    margin-top: 15px;
  }
}
