.todo-create-list-container {
  .todo-create-list-add-item-container {
    > div {
      display: flex;
    }
    .todo-create-list-add-item-button {
      @include roundButton($red, $white);
    }

  }
  .todo-create-list-items-container {
    background: $gray;
    padding: 15px;
    margin-top: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;

  }
  .todo-create-list-control-buttons {
    margin-top: 15px;
  }

}
