.todo-wrapper {
  .todo-header-bar {

    background: $red;
    padding: 5px;
    border-bottom: 1px solid #ddd;

    h3 {
      margin: 0;
    }
  }
  .todo-main-content {
    margin-top: 15px;
  }
}
